<header class="header-container">
    <div class="header-content">
        <div class="page-links">
            <a [routerLink]="['/news']"><h4>NgRx Hacker News</h4></a>
            <a [routerLink]="['/about']"><h4>About</h4></a>
        </div>
        <div class="header-links">
            <button class="button" (click)="handleRefreshClick()">
                Refresh
            </button>
            <button class="button" (click)="handleThemeClick()">
                Switch Theme
            </button>
        </div>
    </div>
</header>
